/* src/components/ProductList.css */
.product-list {
  max-width: 1200px;
  margin: 0 auto;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #fafafa;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-card:hover {
  transform: scale(1.02);
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.product-info {
  margin-top: 10px;
}

.product-info h3 {
  margin: 0;
  color: #000000;
}

.product-info p {
  color: #888;
  margin: 5px 0;
}

.product-info button {
  background-color: #646cff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-info button:hover {
  background-color: #646cff;
}

li {
  list-style: none;
}

@media screen and (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}
